---
import { Icon } from "astro-icon";
import Social from "./Social.astro";
const year = new Date().getFullYear();
---

<footer class="border-t border-slate-200 py-6">
  <div
    class="dark:text-mirage-500 mb-4 w-full text-center text-xl font-medium tracking-wide text-slate-400"
  >
    <span>Contact</span>
  </div>
  <div class="flex w-full justify-center gap-8">
    <Social url="#">
      <Icon name="uiw:linkedin" class="w-6" />
    </Social>

    <Social url="#">
      <Icon name="uiw:github" class="w-6" />
    </Social>

    <Social url="#">
      <Icon name="uiw:mail" class="w-6" />
    </Social>

    <Social url="#">
      <Icon name="ic:twotone-phone-iphone" class="w-6" />
    </Social>
  </div>
  <div class="text-cerulean-400 dark:text-mirage-500 w-full pt-4 text-center">
    <small>
      © {year} All rights reserved Levi Broeksma, Design & Development.
    </small>
  </div>
</footer>
