---
import Layout from "../layouts/Layout.astro";
const pageTitle = "Home Page";
---

<Layout pageTitle={pageTitle}>
  <div class="w-full max-w-5xl px-4 xl:p-0">
    <h1>{pageTitle}</h1>
  </div>
</Layout>
