---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
const pageTitle = "Home Page";
---

<Layout pageTitle={pageTitle}>
  <Hero
    img="/img/LeviBanner1.webp"
    title="Improving the web"
    subtitle="One build at the time"
    alt="Levi Broeksma, levibroeksma.com, photo by Rocky Khedoe, 13plus31.com"
    button_txt="About Levi"
    url="/about"
  />
  <div class="w-full max-w-5xl px-4 py-16 xl:px-0">
    <div class="sm:text-center">
      <h1>{pageTitle}</h1>
      <p>
        I developed a love for creating things at a young age, just like many
        children do, through playing with Lego's. This passion for creating has
        stayed with me throughout my life. It wasn't until later on that I
        decided to pursue it professionally. If you want to learn more about me
        and my journey, you can <a
          class="text-cerulean-400 hover:text-cerulean-600 font-medium tracking-wide underline hover:no-underline"
          href="/about">read about it here.</a
        >
      </p>
    </div>
  </div>
</Layout>
